<div class="parent-container">
    <div id="activity-container">
        <div class="title-bar">
            <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
            <span>最新活动</span>
        </div>
        <div class="activity">
            <div class="item" ng-repeat="activity in activityList" ng-click="jump(activity)">
                <img ng-src="{{activity.imgurl}}">
                <div class="activity-info">
                    <div class="text-center" ng-bind="activity.name" id="activity-name"></div>
                    <div class="text-right" id="activity-time">
                        <span>活动起止时间：</span>
                        <span ng-bind="activity.starttime"></span> 至 <span ng-bind="activity.endtime"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>