<div id="add-receiver-container">
<div class="title-bar">
    <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
    <span>新建收货人</span>
</div>
<div class="item">
    收货人:
    <input type="text" name="name" ng-model="name">
</div>
<div class="item">
    联系方式:
    <input type="text" name="phone" ng-model="phone">
</div>
<!-- <div class="item">
    所在地区:
    <input type="text" placeholder="街道/楼牌号等" name="city" ng-model="city">
    <img src="../../assets/images/arrow_r_big.png" class="arrow-right">
</div> -->
<div class="item border-bottom-none">
    详细地址:
    <input type="text" name="address" ng-model="address">
</div>
<div id="save-btn" ng-click="save()">
    保存
</div>
</div>