<div id="fashion-info-container">
    <!-- <div class="title-bar">
        <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
        <span>悦艺术家</span>
    </div> -->
    <div advertise class="swiper-container slider-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="item in fashionNewsList" on-finish-render-filters>
                <img ng-src="{{item.imgurl}}" ng-click="jump(item)">
            </div>
        </div>
        <div class="swiper-pagination">
            
        </div>
    </div>
    <div class="headline" ng-click="toHeadline()">
        <div class="font-size-32">头条|公告</div>
        <div class="headline-text">
            <span class="font-size-26 title ellipsis" ng-bind="headline.title"></span>
            <img src="../../assets/images/arrow_r_big.png" class="common-icon">
        </div>
    </div>
    <div class="select-tab">
        <div ng-class="{'tab-item':true,'highlight':type==1}" ng-click="selectTab(1)">
            悦人物
        </div>
        <div ng-class="{'tab-item':true,'highlight':type==2}" ng-click="selectTab(2)">
            悦资讯
        </div>
    </div>
    <div infinite-scroll="getFashionInfo()" infinite-scroll-disabled="loading" infinite-scroll-distance="0">
        <div class="list-item" ng-repeat="item in fashionInfoList" ng-click="toFashionInfo(item)">
            <img ng-src="{{item.imgurl}}" class="info-img">
            <div class="text-content">
                <div class="title" ng-bind="item.title"></div>
                <div class="content" ng-bind="item.remark">
                </div>
            </div>
        </div>
        <div class="load" ng-hide="loaded">
            <img src="../../assets/images/loading2.gif" class="common-icon">
            正在加载...
        </div>
        <div ng-show="loaded" class="load"></i>没有更多内容</div>
    </div>
</div>