<div class="title-bar">
    <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
    <span ng-bind="title"></span>
</div>
<div id="forget-pwd-container">
    <div class="form-group">
        <span class="icon">
            <img src="../../assets/images/phone.png" alt="手机号" class="phone-icon">
        </span>
        <span class="text-container">
            <input type="text" placeholder="请输入您的手机号" class="input-text" ng-model="phoneNum" maxlength="11">
        </span>
    </div>
    <div class="form-group margin-top-28 border-bottom-none code-container">
        <div class="code">
            <span class="icon">
                <img src="../../assets/images/code.png" alt="验证码" class="code-icon">
            </span>
            <span class="text-container">
                <input type="text" placeholder="请输您获取的验证码" class="input-text" ng-model="code" maxlength="4">
            </span>
        </div>
        <div ng-class="{'get-code-btn':true,'unuseful':sending}" ng-click="sendCode()" ng-bind="sendCodeText">
        </div>
    </div>
    <div class="form-group margin-top-28">
        <span class="icon">
            <img src="../../assets/images/lock.png" alt="密码" class="pwd-icon">
        </span>
        <span class="text-container">
            <input type="password" placeholder="请输入您的新密码" class="input-text" ng-model="password" maxlength="20">
        </span>
    </div>
    <div class="form-group margin-top-28">
        <span class="icon">
            <img src="../../assets/images/lock.png" class="pwd-icon">
        </span>
        <span class="text-container">
            <input type="password" placeholder="请确认密码" class="input-text" ng-model="repeatPwd" maxlength="20">
        </span>
    </div>
    <div id="modify-btn" class="btn-common" ng-click="confirm()">
        确认修改
    </div>
</div>