<div id="get-invitation-container">
	<!-- <div class="title-bar">
        <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
        <span>送你悦艺术家会员消费卡</span>
    </div> -->
    <div class="get-invitation">
    	 <div class="coin-num">
    	 	<div class="mall-name-text">
    	 		悦艺术家悦币商城
    	 	</div>
    	 	<div class="coin-num-text text-center">
    	 		500悦币
    	 	</div>
    	 	<div class="tips text-center">
    	 		可在悦艺术家APP悦币商城中兑换缤纷好礼
    	 	</div>
    	 </div>
    	 <div class="phone-container">
    	 	<input type="text" name="phone" placeholder="请输入您的手机号领取" ng-model="phone">
    	 </div>
    	 <div id="get-btn" ng-click="get()">
    	 	立即领取
    	 </div>
    </div>
</div>