<div class="parent-container">
	<div id="mall-search">
		<div class="search-title-bar">
			<span class="search-box">
				<img src="../../assets/images/search_1.png" alt="搜索图标" class="common-icon">
				<form ng-submit="search()">
					<input type="search" placeholder="请输入商品名称" ng-model="word">
				</form>
				
			</span>
			<span class="cancel-btn" ng-click="tback()">取消</span>
		</div>
		<!-- 热门商品 -->
		<div class="item-container" ng-if="goodsList.length > 0">
			<div class="type-name">商品</div>
			<div class="item newgood" ng-repeat="goods in goodsList" ng-click="toGoodsDetail(goods)">
				<img ng-src="{{goods.img}}" class="goods-pic">
				<div class="info">
					
					<span class="middle">
						<span ng-bind="goods.name" class="name"></span>
						<span class="price">
						￥<span ng-bind="goods.realprice"></span>
					</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="hasNoResult" class="text-center"><div class="nothingDiv"><img src="../../assets/images/box.png" alt=""></div><span class="nothingText">抱歉！没有找到您想要的结果</span></div>
</div>