<div id="mall-container">
	<div class="title-bar">
	    <!-- <span class="title-bar-left">
	        <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
	    </span> -->
	    <span>悦商城</span>
	    <span class="title-bar-right">
		    <img src="../../assets/images/cart.png"  ng-click="toCart()">
	        <img src="../../assets/images/search.png" alt="搜索" id="search" ng-click="searchGoods()" class="cart-icon">
	        
	    </span>
	</div>
	<div advertise class="swiper-container advertise">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="item in adList" on-finish-render-filters>
				<img ng-src="{{item.imgurl}}" ng-click="jump(item)">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="top-nav">
		<span ng-repeat="menu in menuList">
			<img ng-src="{{menu.imgurl}}" ng-click="toMenuDetail(menu)">
		</span>
	</div>
	<div class="item-container">
		<div class="title">
			<span class="cn">限时抢购</span>
			<span class="en">FLASH SALE</span>
			<span class="time-tips" ng-bind="flashTips">
				<!-- <span>每日</span>
				<span class="time" ng-bind="limitStartTime"></span>
				<span>开始-</span>
				<span class="time" ng-bind="limitEndTime"></span>
				<span>截止</span> -->
			</span>
		</div>
		<div class="swiper-container flash-sale-content" flashsale>
			<div class="swiper-wrapper">
				<div class="swiper-slide item" ng-repeat="item in flashSaleList" 
				on-flash-sale-render-finished ng-click="toGoodsDetail(item, true)">
					<img ng-src="{{item.imgurl}}">
					<span ng-bind="item.name" class="name"></span>
					<span class="bottom-info">
						<span class="highlight">￥<span ng-bind="item.realprice"></span></span>
						<del>￥<span ng-bind="item.originalprice"></span></del>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="item-container">
		<div class="title">
			<span class="cn">品牌专区</span>
			<span class="en">BRAND ZONE</span>
		</div>
		<div class="brand-content">
			<span class="item" ng-repeat="brand in brandList" ng-click="brandDetail(brand)">
				<img ng-src="{{brand.imgurl}}">
			</span>
		</div>
	</div>
	<div class="select-panel">
		<span class="item" ng-click="setSort('hot')">
			<span>
				<img src="../../assets/images/rexiao.png" ng-show="!type=='hot'">
				<img src="../../assets/images/rexiao_h.png" ng-show="type=='hot'">
			</span>
			<span ng-class="{'highlight':type=='hot'}">热销</span>
		</span>
		<span class="item" ng-click="setSort('new')">
			<span>
				<img src="../../assets/images/zuixin.png" ng-hide="type=='new'">
				<img src="../../assets/images/zuixin_h.png" ng-show="type=='new'">
			</span>
			<span ng-class="{'highlight':type=='new'}">最新</span>
		</span>
		<span class="item" ng-click="setSort('popular')">
			<span>
				<img src="../../assets/images/renqi.png" ng-hide="type=='popular'">
				<img src="../../assets/images/renqi_h.png" ng-show="type=='popular'">
			</span>
			<span ng-class="{'highlight':type=='popular'}">人气</span>
		</span>
		<span class="item" ng-click="setSort('priceasc')" ng-hide="type=='pricedesc' || type=='priceasc'">
			<span>
				<img src="../../assets/images/jiage.png" >
			</span>
			<span>价格</span>
		</span>
		<span class="item" ng-click="setSort('pricedesc')" ng-show="type=='priceasc'">
			<span>
				<img src="../../assets/images/bottom_to_top.png">
			</span>
			<span class="highlight">价格</span>
		</span>
		<span class="item" ng-click="setSort('priceasc')" ng-show="type=='pricedesc'">
			<span>
				<img src="../../assets/images/top_to_bottom.png">
			</span>
			<span class="highlight">价格</span>
		</span>
	</div>
	<div infinite-scroll="getGoods()" infinite-scroll-disabled="loading" infinite-scroll-distance="0">
		<div class="goods-container">
			<span class="item" ng-repeat="item in goodsList" ng-click="toGoodsDetail(item)">
				<span><img ng-src="{{item.imgurl}}" class="goods-img"></span>
				<span class="goods-name" ng-bind="item.name"></span>
				<span class="goods-info">
					<span>￥<span ng-bind="item.realprice"></span></span>
					<span class="praise" ng-click="praise(item, $event)">
						<!-- <span><img src="../../assets/images/zan.png"></span> -->
						<span class="glyphicon glyphicon-heart-empty" ng-if="!item.iskeep" name="praise-icon"></span>
						<span class="glyphicon glyphicon-heart highlight" ng-if="item.iskeep" name="praise-icon"></span>
						<span ng-bind="item.praisenum" name="praise-num"></span>
					</span>
				</span>
			</span>
		</div>
		<div ng-hide="loaded" class="load">
			<img src="../../assets/images/loading2.gif" class="common-icon">
            正在加载...
		</div>
        <div ng-show="loaded" class="load"></i>没有更多内容</div>
	</div>
</div>