<div id="remark-designer-container">
    <div class="title-bar">
        <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
        <span>评价</span>
    </div>
    <div class="personal-data">
    	<div class="personal-head">
    		<img ng-src="{{designer.imgurl}}">
    	</div>
    	<div class="datainfo">
    		<div class="profession" ng-bind="designer.name">明星</div>
    		<div class="phone-no" ng-bind="designer.telephone"></div>
    	</div>
    </div>
    <div class="person-marking">
    	<div class="line-describe">
    		选出对他的印象：
    	</div>
    	<div class="mark-describe">
    		<div ng-repeat="remark in remarkList" ng-class="{'mark-make':true,'selected':remark.selected}" ng-bind="remark.name" ng-click="selectRemark(remark)"></div>
    		
    	</div>
    	<div class="line-star">
    		总体评分：
    	</div>
    	<div class="mark-star">
            <span ng-class="{'icon-star-empty':starNum<1,'icon-star':starNum>=1,'selected':starNum>=1}" ng-click="starOrder(1)"></span>
    		<span ng-class="{'icon-star-empty':starNum<2,'icon-star':starNum>=2,'selected':starNum>=2}" ng-click="starOrder(2)"></span>
            <span ng-class="{'icon-star-empty':starNum<3,'icon-star':starNum>=3,'selected':starNum>=3}" ng-click="starOrder(3)"></span>
            <span ng-class="{'icon-star-empty':starNum<4,'icon-star':starNum>=4,'selected':starNum>=4}" ng-click="starOrder(4)"></span>
            <span ng-class="{'icon-star-empty':starNum<5,'icon-star':starNum>=5,'selected':starNum>=5}" ng-click="starOrder(5)"></span>
    	</div>
    </div>
    <div id="comment-text-container">
		<textarea name="comment-text" id="comment-text" placeholder="写下你想说的..." ng-model="content"></textarea> 
		<div name="check-anonymity">
			<span ng-class="{'icon-check-empty':!anonymity,'icon-check':anonymity,'text-highlight':anonymity}" ng-click="checkAnonymity()"></span>
			<span>匿名提交</span>
		</div>
	</div>
	<div id="submit-btn" ng-click="submit()">
		提交
	</div>
</div>
