<div class="title-bar">
	    <span class="title-bar-left" back><img src="../../assets/images/back.png"></span>
	    <span>设置</span>
</div>
<div id="setting-container">
	<div class="item" ng-click="toUseMsg()">
		<span>使用须知</span>
		<span class="arrow_r"><img src="../../assets/images/arrow_r.png"></span>
	</div>
	<div class="item" ng-click="toAboutUs()">
		<span>关于我们</span>
		<span class="arrow_r"><img src="../../assets/images/arrow_r.png"></span>
	</div>
	<!-- <div class="item" ng-click="navTo(3)">
		<span>为应用评分</span>
		<span class="arrow_r"><img src="../../assets/images/arrow_r.png"></span>
	</div> -->
	<div class="item" ng-click="toFeedback()">
		<span>意见反馈</span>
		<span class="arrow_r"><img src="../../assets/images/arrow_r.png"></span>
	</div>
	<div class="item" ng-click="toforgetpwd()">
		<span>支付密码</span>
		<span class="arrow_r"><img src="../../assets/images/arrow_r.png"></span>
	</div>
	<div id="logout-container" ng-if="isLogin">
		<button id="logout-btn" ng-click="logout()">退出登录</button>
	</div>
</div>