<div class="parent-container">
	<div id="store-search">
		<div class="search-title-bar">
			<span class="search-box">
				<img src="../../assets/images/search_1.png" alt="搜索图标" class="common-icon">
				<form ng-submit="search()">
					<input type="search" placeholder="请输入门店名" ng-model="word">
				</form>
				
			</span>
			<span class="cancel-btn" back>取消</span>
		</div>
		<!-- 门店 -->
		<div class="item-container" ng-if="storeList.length > 0">
			<div class="type-name">门店</div>
			<div class="item" ng-repeat="store in storeList" ng-click="toStoreDetail(store)">
				<img ng-src="{{store.img}}" class="store-pic">
				<!-- <div class="info">
					<span class="price">
						￥<span ng-bind="store.average"></span>
					</span>
					<span class="middle">
						<span ng-bind="store.name" class="name"></span>
						<img ng-repeat="star in store.starUrl" ng-src="{{star.path}}" class="star-icon">
					</span>
					<span class="bottom text-right">
						<img src="../../assets/images/location.png" class="location-icon">
						<span ng-bind="store.location"></span>
					</span>
				</div> -->
				<!--  -->
				<div class="newdesign" style="position:relative;">
					<div class="dsdiv-1">
						<span ng-bind="store.name" class="name"></span>
					</div>
					<div class="dsdiv-2">
						<img ng-repeat="star in store.starUrl" ng-src="{{star.path}}" class="star-icon">
					</div>
					<div class="dsdiv-4">
						剪发：<span class="dsjf">
							￥<span ng-bind="store.average"></span>
						</span>
					</div>
					<div class="dsdiv-5">
						<span class="bottom text-right">
							<img src="../../assets/images/location.png" class="location-icon">
							<span ng-bind="store.location"></span>
						</span>
					</div>
				</div>

			</div>
		</div>
	</div>
		<div ng-if="hasNoResult" class="text-center"><div class="nothingDiv"><img src="../../assets/images/box.png" alt=""></div><span class="nothingText">抱歉！没有找到您想要的结果</span></div>
</div>