<!-- 发型师作品 -->
<div class="nav-bar">
	<span ng-click="navTo(1)">项目</span>
	<span ng-click="navTo(2)">价格</span>
	<span ng-click="navTo(3)">生活</span>
	<span class="selected" ng-click="navTo(4)">作品</span>
</div>
<div class="stylist-work-container">
	<div class="work-row">
		<span class="item">
			<img src="../../assets/images/test/stylist_work.png">
		</span>
		<span class="item">
			<img src="../../assets/images/test/stylist_work.png">
		</span>
	</div>
	<div class="work-row">
		<span class="item">
			<img src="../../assets/images/test/stylist_work.png">
		</span>
		<span class="item">
			<img src="../../assets/images/test/stylist_work.png">
		</span>
	</div>
</div>