<!-- 发型师价格 -->
<div class="nav-bar">
	<span ng-click="navTo(1)">项目</span>
	<span class="selected" ng-click="navTo(2)">价格</span>
	<span ng-click="navTo(3)">生活</span>
	<span ng-click="navTo(4)">作品</span>
</div>
<div class="stylist-price-container">
	<div class="common-proj">
		<span class="title">一般项目</span>
		<span class="common-proj-item">
			<span>洗吹</span>
			<span class="right">
				<span class="highlight">￥ 280</span>
				<del class="original-price">￥ 381.00</del>
			</span>
		</span>
		<span class="common-proj-item">
			<span>洗剪吹</span>
			<span class="right">
				<span class="highlight">￥ 280</span>
				<del class="original-price">￥ 381.00</del>
			</span>
		</span>
	</div>
	<div class="item">
		<span>染发</span>
		<span class="right">
			<span class="highlight">￥280</span>
			<span>起</span>
			<img src="../../assets/images/down_big.png" class="down-icon">
		</span>
	</div>
	<div class="item">
		<span>烫发</span>
		<span class="right">
			<span class="highlight">￥280</span>
			<span>起</span>
			<img src="../../assets/images/down_big.png" class="down-icon">
		</span>
	</div>
	<div class="item">
		<span>护理</span>
		<span class="right">
			<span class="highlight">￥280</span>
			<span>起</span>
			<img src="../../assets/images/down_big.png" class="down-icon">
		</span>
	</div>
</div>