<!-- 发型师项目 -->
<div class="nav-bar">
	<span class="selected" ng-click="navTo(1)">项目</span>
	<span ng-click="navTo(2)">价格</span>
	<span ng-click="navTo(3)">生活</span>
	<span ng-click="navTo(4)">作品</span>
</div>
<div class="stylist_proj_container">
	<div class="item">
		<span class="left">
			<span class="select-icon"><img src="../../assets/images/proj_select_bg.png"></span>
			<span>剪发</span>
		</span>
		<span class="right">60 min</span>
	</div>
	<div class="item">
		<span class="left">
			<span class="select-icon"><img src="../../assets/images/proj_select_bg.png"></span>
			<span>染发</span>
		</span>
		<span class="right">120 min</span>
	</div>
	<div class="item">
		<span class="left">
			<span class="select-icon"><img src="../../assets/images/proj_select_bg.png"></span>
			<span>烫发</span>
		</span>
		<span class="right">180 min</span>
	</div>
	<div class="item">
		<span class="left">
			<span class="select-icon"><img src="../../assets/images/proj_select_bg.png"></span>
			<span>接发</span>
		</span>
		<span class="right">40 min</span>
	</div>
	<div class="item">
		<span class="left">
			<span class="select-icon"><img src="../../assets/images/proj_select_bg.png"></span>
			<span>护理</span>
		</span>
		<span class="right">60 min</span>
	</div>
	<div class="item">
		<span class="left">
			<span class="select-icon"><img src="../../assets/images/proj_select_bg.png"></span>
			<span>化妆</span>
		</span>
		<span class="right">60 min</span>
	</div>
	<div class="bottom-operation">
		<span class="left">
			<span>180 min</span>
		</span>
		<span class="middle">
			<span>立即咨询</span>
		</span>
		<span class="right">
			<span>立即预约</span>
		</span>
	</div>
</div>
